/*.ItemDetail{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.ItemDetail img{
    width: 350px;
}

.info{
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}*/

.ItemDetail{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemDetail img{
    width: 350px;
    border-radius:10px;
}

.info{
    width: 800px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    padding:30px;
    border-radius: 10px;
}

.info p{
    margin: 10px 0px 10px 0px;
}

.info button{
    padding: 2px;
}


.cant{
    display:flex;
    border: 1px solid rgba(85, 85, 85, 0.59);
    padding:10px;
    margin:20px;
    border-radius: 5px;
}


.cant p{
    margin: 0px 10px 0px 10px;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgba(85, 85, 85, 0.59);*/
    border-radius:10px;
    margin-top: 20px;
}

.botones button{
    padding: 10px;
    margin: 20px 20px 20px 0px;
}

.botonDetail {
    background-color:rgb(44, 21, 75);
    color: rgb(203, 178, 238);
    border-radius: 5px;
    margin: 20px 20px 0px 0px;
}

.botonDetail:hover {
    background-color: rgb(203, 178, 238);
    color: rgb(44, 21, 75);
}