.cart{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.articulo{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:10px;
    border: 1px solid rgba(85, 85, 85, 0.59);
    background-color: white;
    border-radius: 10px;
}

.articulo img{
    width:50px;
}

.cart p{
    margin: 20px;
}

h3{
    margin: 20px;
}