nav img {
    width: 50px !important;
    height: 50px !important;
}

.category{
    color:  rgb(227, 221, 235);
    text-decoration: none;
    padding:20px;
}

.nombre{
    color:  rgb(227, 221, 235);
    text-decoration: none;
    
}

.nombre h1{
    font-size: 24px;
}

.category-active{
    color: rgb(91, 55, 137) ;
    text-decoration: none;
    padding: 20px;
}

.navbar-brand{
    color: rgb(227, 221, 235);
    font-weight: bold;
}

.navbar{
    background-color: rgb(157, 132, 189) !important;
    padding: 20px;
    margin-bottom: 20px;
}

.boton-menu{
    border: 2px solid rgb(112, 72, 163);
    border-radius: 5px;
    color: rgb(227, 221, 235) ;

}

.boton-menu:hover{
    background-color: rgb(112, 72, 163);
    color: white;
    border: 2px solid rgb(112, 72, 163) ;

}

nav .marca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-right: 50px;
}